.container{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
}

.boxCompra, .boxDetalhe{
    width: 100%;
    max-width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.boxDetalhe{
    border-right: 10px solid rgba(68, 68, 68, 0.296) !important;
}

.asinatura_nome {
    font-size: 25px;
    padding: 10px 0;
    color: #5e5e5e;
    font-weight: 500;
}

.boxDetalhe > .asinatura {
    margin-top: 30px;
}

.asinatura h1{
    max-width: 500px;
    font-size: 55px;
}

.asinatura h1 > span {
    font-size: 30px;
    color: #5e5e5e;
}

.sectionPlano {
    font-size: 20px;
    margin: 10px 0;
    border-bottom: 2px solid #ccc;
}

.sectionPlano > .sectionPlano_detalhe {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sectionPlano > .sectionPlano_detalhe > p:nth-child(2){font-weight: bold;}

.sectionPlano > .sectionPlano_paragrafo {color: #5e5e5e;padding-bottom: 10px;}

.sectionPlano > a {
    text-decoration: none;
    padding-bottom: 10px;
    color: rgb(70, 162, 255);
}

.boxCompra h2   {
    font-size: 30px;
    color: purple;
}

.destaque {
    font-size: 20px;
    margin: 0 15px;
    color: orangered;
    background-color: rgb(255, 255, 77);
    box-shadow: 1px 1px 6px 0px rgb(255, 251, 0);
    padding: 8px;
    border-radius: 5px;
}

.form_wraper{
    margin: 10px 0;
}

.form_wraper h2 {
    color: #5e5e5e;
    padding: 14px 0;
    margin-bottom: 5px;
}

.form_wraper_input {
    background-color: #bfbfbf4f;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.form_wraper_input label{
    font-size: 20px;
}

.form_wraper_input input {
    font-size: 20px;
    width: 90%;
    padding: 10px;
    background-color: transparent;
    border: 0;
}

.form_wraper_input input:focus{outline: none;}

.form_flex, .form_flex_pagemento{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form_flex:nth-child(2) {
    border: 3px solid #5e5e5e;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}

.form_flex:nth-child(2) img {
    width: 100%;
    max-width: 200px;
}

.form_flex:nth-child(2) > input{
    font-size: 20px;
    padding: 10px;
    width: 100%;
    max-width:700px;
    border: 0;
}

.form_flex:nth-child(2) > input:focus {outline: none;}

.form_flex:nth-child(3) {
    border-right: 3px solid #5e5e5e;
    border-bottom: 3px solid #5e5e5e;
    border-left: 3px solid #5e5e5e;
    padding: 5px;
    border-radius: 0 0 10px 10px;
}

.form_flex:nth-child(3) > .form_flex_wraper{
    width: 100%;
    min-height: 50px;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.form_flex:nth-child(3) > .form_flex_wraper input{
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0;
}

.form_flex:nth-child(3) > .form_flex_wraper input:focus{outline: none;}

.form_flex:nth-child(3) > .form_flex_wraper:nth-child(1){
    border-right: 3px solid #5e5e5e;
}

.boxPagemento {
    cursor: pointer;
    width: 100%;
    max-width: 370px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 50px;
}

.boxPagemento:nth-child(2){
    color: #5e5e5e;
    border-color: #5e5e5e;
}

#nomeCompra {
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    min-height: 40px;
    border: 3px solid #5e5e5e;
}

#nomeCompra:focus{outline: none;}

.boxPagemento > p {font-size: 20px;}

input[type=submit]{
    margin-top: 20px;
    color: white;
    font-size: 20px;
    line-height: 10px;
    width: 100%;
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    background-color: #1378dd;
    border: 2px solid #0061c2;
}